Library/*
Packages/manifest.json
Urbaeum.sln
UserSettings/EditorUserSettings.asset
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
.vs/*
obj/*
*.psd~
Assets/FriendlyCleanUI/_raw/photoshop/source.psd
Assets/FriendlyCleanUI/_raw/photoshop/source.psd.meta
